/*////////CSS helpers classes*/




/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}


.m-t-10{
    margin-top: 10px!important;
}


.m-t-20{
    margin-top: 20px!important;
}


.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}


.p-10{
    padding: 10px!important;
}

.p-t-40{
    padding-top: 40px!important;
}

.p-b-40{
    padding-bottom: 40px!important;
}


/*///ends here////*/




/*////Fonts////*/





.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-24{
    font-size: 24px!important;
}

.w-100{
    font-weight: 100!important;
}

.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}


.f-8{
    font-size: 5em!important;
}




/*///ends here///*/









/*////Borders////*/

.border{
    border: 1px solid #eee!important;
}


.border-bottom{
    border-bottom: 2px solid #eee!important;
}


.border-top{
    border-top: 1px solid #eee!important;
}

.border-right{
    border-right: 2px solid #eee!important;
}


/*//////ens here/////*/


.white-c{
     color: #fff!important;
 }

.black-c{
    color: #000!important;
}


.custom-form{
    background: rgba(240, 248, 255, 0)!important;
    border: 1px solid #eee!important;
    border-radius: 10px!important;
}

.custom-input{
    background-color: rgba(255, 255, 255, 0)!important;
    color: #fff!important;
}

.height{
    height: 200px!important;
}


.cta-footer{
    background-color: #f4404e;
}

@media (min-width: 992px) {


    .cta-footer .btn {

        margin: 10px 0px 0px 0px;

    }
}


.f-30{
    font-size: 30px!important;
}

.price{
    color: #31aff5!important;
}


.custom-price{
    margin: 30px 0;
    font-size: 30px;
}

.p-b-0{
    padding-bottom: 0!important;
}

.portfolio-bg{
    background: url('../img/1.png') no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-position: 50% 50%;
    display: table;
    height: 700px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;



}

.portfolio-bg img{
    display: table-cell;
    vertical-align: middle;
}






/* ======== input fields look ======== */

.zolo-input-darken::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.zolo-input-darken:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff !important;
    opacity:  1;
}
.zolo-input-darken::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff !important;
    opacity:  1;
}
.zolo-input-darken:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #6b6c6d !important;
}

.zolo-textarea::-webkit-input-placeholder, .zolo-textarea { /* WebKit, Blink, Edge */
    color:    #fff !important;
    font-size: 16px;
    font-weight: 400;
}


/*input.zolo-input-darken{*/
    /*background-image: linear-gradient(#0097a7,#0097a7),linear-gradient(#6f6f6f,#6f6f6f) !important;*/
/*}*/

/*textarea.zolo-input-darken{*/
    /*border-bottom: 1px solid #aaa !important;*/
/*}*/

/* ======== input fields look ========*/

.p-t-10{
    padding-top: 10px!important;
}

@media screen and (max-width: 768px){
    .cta-footer .btn{
        width: 100%;
    }

    .welcome-message {
        padding: 7em 15px 7.5em !important;
    }

    .welcome-message .col-md-6{
        padding-top: 0!important;
    }

    .welcome-message h1{
        font-size: 26px;
    }

    .hero-section .cta-signup-form h2{
        font-size: 17px;
    }

    .section-header h2{
        font-size: 20px;
    }

    h1,h2,h3{
        font-size: 20px;
    }

    .price{
        font-size: 20px!important;
    }

    .hero-section{
        height: 740px!important;
    }

    .navbar-default{
        padding: 0!important;
    }

    .portfolio-bg{
        background: none!important;

    }

    .portfolio-bg h1{
        color: #000!important;

    }

    .portfolio-bg  p{
        color: #000!important;

    }


    .section-spacing {
        padding: 2.5em 0;
    }

    .copyright-terms{
        padding: 0!important;
    }

    .wed-btn{
        padding: 1.10em 1em!important;
    }

    .cta-footer{
        padding: 0!important;
    }
}



.mobile-footer {
    position: fixed;
    bottom: 0;
    background: #f9f9f9;
    width: 100%;
    padding: 10px;
}


