/*////////CSS helpers classes*/




/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}


.m-t-10{
    margin-top: 10px!important;
}


.m-t-20{
    margin-top: 20px!important;
}


.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}


.p-10{
    padding: 10px!important;
}

.p-t-40{
    padding-top: 40px!important;
}

.p-b-40{
    padding-bottom: 40px!important;
}


/*///ends here////*/




/*////Fonts////*/





.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-24{
    font-size: 24px!important;
}

.w-100{
    font-weight: 100!important;
}

.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}


.f-8{
    font-size: 5em!important;
}




/*///ends here///*/









/*////Borders////*/

.border{
    border: 1px solid #eee!important;
}


.border-bottom{
    border-bottom: 2px solid #eee!important;
}


.border-top{
    border-top: 1px solid #eee!important;
}

.border-right{
    border-right: 2px solid #eee!important;
}


/*//////ens here/////*/


.white-c{
    color: #fff!important;
}


.custom-form{
    background: rgba(240, 248, 255, 0)!important;
    border: 1px solid #eee!important;
    border-radius: 10px!important;
}

.custom-input{
    background-color: rgba(255, 255, 255, 0)!important;
    color: #fff!important;
}

.height{
    height: 200px!important;
}